<div nz-row style="margin-bottom: 20px;margin-top: 20px;margin-left: 350px;">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </div>
      <div  nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="text-right">
        <button style="margin-left: 5px;" nz-button nzType="primary" (click)="addNew()">
          <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <nz-table #basicTable nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzData]="lstBillOut" 
    [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
    [nzNoResult]="'Không có dữ liệu.'" (nzPageIndexChange)="loadData()"
    nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzSize="middle">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowSort nzSortKey="id" nzCustomFilter>ID</th>
          <th nzShowSort nzSortKey="tenvtxuat" nzCustomFilter> Tên vật tư xuất
            <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown1="nzDropdown" nzType="search"
            [nzDropdownMenu]="menu1" [class.ant-table-filter-open]="dropdown1.nzVisible" nzTrigger="click"
            nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tên " [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('tenvtxuat')" />
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tenvtxuat')" class="search-button">
                Tìm
              </button>
            </div>
          </nz-dropdown-menu></th>
          <th>Ngày xuất</th>
          <th>Số lượng xuất</th>
          <th>Đơn giá xuất</th>
          <th>Tình trạng</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.tenvtxuat}}</td>
          <td>{{data.ngayxuat}}</td>
          <td>{{data.soluongxuat}}</td>
          <td>{{data.dongiaxuat}}</td>
          <td>{{data.tinhtrang}}</td>
          <td class="decrease-row">
              <nz-button-group>
                  <button nz-button nzType="default" nz-tooltip nzTitle="Sửa" (click)="update(data)">
                      <i nz-icon nzType="edit" theme="outline"></i>
                  </button>
                  <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="delete(data.id)">
                      <i nz-icon nzType="delete" theme="outline"></i>
                  </button>
              </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
    